{% extends 'uxg/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Home
{% endblock %}
{% block body_block %}
<div>
    <script>
        var create_new_post = "{% url 'uxg:create_new_post' %}";
    </script>

    <div id="create_new_post_button_wrapper">
        <button id="create_new_post_button" onclick="redirectTocreatenewpost()"><strong>+</strong></button>
    </div>

    {% for post in posts %}
        <div class="post">
            <strong>{{ post.user.username }}</strong> - {{ post.created_at|date:"Y-m-d H:i" }}<br />
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image">
            {% endif %}
        </div>

        <div class="post_seperator">

        </div>
    {% endfor %}
</div>
{% endblock %}
