{% extends 'uxg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block body_block %}
    <h1>Sign Up</h1>
    {% if registered %}
        <strong>thank you for registering!</strong>
    {% else %}
        <form id="user_form" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">

            {% csrf_token %}

            {% if user_form %}
                {{ user_form.as_p }}
            {% endif %}
            {% if profile_form %}
                {{ profile_form.as_p }}
            {% endif %}

            <button type="submit">Sign Up</button>
        </form>
    {% endif %}
{% endblock %}